<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#page-top">ArrowFind</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a href="#!/login">התחברות</a>

                </li>
                <li class="page-scroll">
                    <a href="#about">קצת עלינו</a>
                </li>
                <li class="page-scroll">
                    <a href="#pricing">מחירים</a>
                </li>
                <li class="page-scroll">
                    <a href="#profit">תוצאות של משתמשים</a>
                </li>
                <li class="page-scroll">
                    <a href="#portfolio">?מה הרווח שלכם</a>
                </li>

                <!--<li class="page-scroll">-->
                <!--<a href="#contact">Contact</a>-->
                <!--</li>-->

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->

<header>

    <div class="container" style="background-image: url(../images/back.jpg);width: 100%;height: 70%">


        <div class="row">
            <div class="col-lg-12" style="bottom: 130px">
                <img class="img-responsive" src="../Images/loggg@x2.png" alt="">
                <div class="intro-text">
                    <span class="name">ברוכים הבאים </span>
                    <span class="name"> ArrowFind </span>
                    <span class="skills">העלאת מוצרים איכותיים לאיבי בקלות & כמעט ללא עבודה ;)</span>

                </div>
            </div>
        </div>
    </div>
</header>


<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>?מה הרווח שלכם</h2>
                   <hr class="style16">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
            </div>
        </div>
        <div class="row">
                <div class="col-lg-12 text-center">
                    <h3><b style="color:red">חדש! </b>חיפוש בסריקה על הרשת</h3>
                    <h3>המערכת מבצעת חיפוש גרפי על המוכרים ועל המוצרים</h3>
                    <h3>אחרי מציאת המוצרים הרלוונטים לנישה, או לחנות כללית אנחנו מביאים אותם אליכם לסוחרים</h3>
                    <h3>ובקליק אחד אתם מוספים אותם למוניטור, נעבור קצת על הוספה מרובה</h3>
                </div>
            </div>
<br>
<br>
<br>
        <div class="row">

            <div class="col-sm-4 portfolio-item">
                <div class="col-lg-12 text-center">
                    <h4 class="skills">חיפוש אוטומטי</h4>
                </div>
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">

                    <div class="caption">

                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="../images/scanner.png" style="width:76.5%" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <div class="col-lg-12 text-center">
                    <h4 class="skills">עשייה ותוצאה</h4>
                </div>
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="../images/Money.jpg" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <div class="col-lg-12 text-center">
                    <h4 class="skills">תמיכה & עזרה</h4>
                </div>
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="../images/customer.png" class="img-responsive" alt="">
                </a>
            </div>

        </div>
        <div class="row">
             <div class="col-lg-12 text-center">

            <h2>תנו לאלגוריתמים לסרוק ולהביא לכם את המוצרים, בכך לחסוך שעות יקרות</h2>
                               <hr class="style16">
                               <br/>
            <h4>אפשר לראות שחיפשתי מוכר ספיציפי במוצר ספיציפי שהרווח עליו הוא כ75 דולר ומעלה והאחוז ברווח הוא 22 אחוז ומעלה</h4>
            <h4>!וחזר מוצר אחד העונה על שלושת הדרישות, אפשר בלי סינון ולקבל כ100 מוצרים ומעלה בקליק</h4>
            <h4>לפי שאנחנו מעלים לפה מוצר אנחנו בודקים בכמה כיוונים הכיוון הראשון הוא שהמוצר נמכר בשבועים האחרונים פעם אחת</h4>
            <h4>הכיוון השני שהוא נמכר פחות מ100 פעמים בגלל שאם הוא נמכר יותר אין לנו דרך להתחרות בליסט חדש - קשה מאוד</h4>
            <h4>צעד שלישי הוא חייב להיות חדש במצב שהוא לא חדש יכולים להיגרם לנו הרבה בעיות של החזרים ולרוב זה בכלל לא ספק</h4>
            <h4>הרשימה היותר גדולה מתאחדת לרצף של חוקים שאמורים לתת מענה לכך שהמוצרים ימכרו לפי ססטיסטקות של מוצרים שנמכרים באיבי</h4>
            <img src="../images/aab.png" style="height: 70%;width: 100%"/>
             </div>
        </div>
        <div class="row">
                            <div class="col-lg-12 text-center">
            <h3>עובדים בשיתוף פעולה עם אתר הקורסים בין המובילים בארץ</h3>
            <a href="http://myazamut.co.il/">
             <img src="../images/yasam.png" class="img-responsive" alt="">
            </a>
                            </div>
        </div>
    </div>
</section>
<section id="profit">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>תוצאות המשתמשים</h2>
                   <hr class="style16">
            </div>
        </div>
                <div class="row">
            <div class="col-lg-12 text-center">
                <h3>באמצעות שימוש פשוט הצלחתי למצוא מוצרים שהניבו הרבה מכירות
                </h3>
                <h3>שום דבר הוא לא קסם, אבל זה עזר לי ובא לטובתי שחיפשתי מוצרים</h3>
                <h3>ופה הדבר החשוב להתחבר לדברים שעובדים שיקלו עליכם</h3>
                <h3>?אתם שואלים אז למה אני משכיר את התוכנה</h3>
                <h3>מהסיבה הפשוטה שאיבי זה שוק ענק, עם עוד 1000 אנשים הישתמשו בא זה לא יפריע למסחר מה שכן</h3>
                <h3>אני יחכה לזה שהם יודו לי ולשותף שלי שחסכנו להם עובדים ועוד השקעה נוספת</h3>
                <img src="../images/a.png" class="img-responsive"/>
            </div>
        </div>
    </div>
</section>

<!-- Pricing Section -->
<section class="success" id="pricing">
    <div class="col-lg-12 text-center">
    </div>
    <div class="container">
        <div class="row">
                        <br>
            <br>
            <br>
            <br>

            <div class="col-lg-12 text-center">
                <h2>חבילות</h2>
                <hr class="style16">
            </div>
        </div>
        <div class="row">

            <br>
        </div>
    </div>
    <div class="row">
         <div class="container">
        <div class="intro-text">
            <h4 style="text-align: center">הפתרון שלנו, יעשה לכם את העבודה בכמה קליקים</h4>
        </div>
</div>

        <div class="col-lg-8 col-lg-offset-13 text-center">
            <br>
            <br>
            <br>
            <br>

           <md-content class="md-padding" style="background-color:#0082b2">
                       <div class="panel panel-pricing" style="background-color: rgb(44, 62, 80)">
                        <div class="panel-heading">
                            <i class="fa fa-desktop" style="color:white"></i>
                            <h3 style="color:white">פרימיום</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p><strong>$9.90 / לחודש</strong></p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-check"></i> שימוש אישי</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> אין ספור חיפושים</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> תמיכה 24/7</li>
                             <li class="list-group-item"><i class="fa fa-check"></i> בונוס שבועיים חינם</li>
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-primary" style="color:white" href="#"><i class="fa fa-check"></i> קנה עכשיו</a>
                        </div>
                    </div>
                </md-content>
    <br/>

    <br/>    <br/>

    <br/>    <br/>

    <br/>


        </div>

    </div>
    </div>
    </div>


</section>

<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>קצת עלינו</h2>
                <hr class="style16">
                <h4>שתי מתכנתים מיחידת מודיעין, בוגרי ממר"מ שהחליטו לפתח תוכנות המקלות על הסוחרים ברשת</h4>
                <h4>המובילות לפתרונות בעולם המסחר</h4>
            </div>
        </div>
        <div class="row">

            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
           <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
               <div class="col-md-4 col-sm-6">
                    <div class="card-container">
                        <div class="card">
                            <div class="front">
                                <div class="cover">
                                    <img src="https://www.clipartsgram.com/image/124089475-california-beaches-tumblr-wallpaper-3.jpg" />
                                </div>
                                <div class="user">
                                    <img class="img-circle" src="../Images/Screenshot_55.png" />
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h3 class="name">Ido Bleicher</h3>
                                        <p class="profession">Co-Founder</p>
                                        <p class="text-center">"Each Day More 1 Shekel"</p>
                                    </div>
                                    <div class="footer">
                                        <button class="btn btn-simple" onclick="rotateCard(this)">
                                            <i class="fa fa-mail-forward"></i> Manual Rotation
                                        </button>
                                    </div>
                                </div>
                            </div> <!-- end front panel -->
                            <div class="back">
                                <div class="header">
                                    <h5 class="motto">"To be or not to be!"</h5>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h4 class="text-center">Job Description</h4>
                                        <p class="text-center">Alot Of Ideas, Programmer..."</p>
                                        <div class="stats-container">
                                            <div class="stats">
                                                <h4>1335</h4>
                                                <p>
                                                    Followers
                                                </p>
                                            </div>
                                            <div class="stats">
                                                <h4>114</h4>
                                                <p>
                                                    Following
                                                </p>
                                            </div>
                                            <div class="stats">
                                                <h4>58</h4>
                                                <p>
                                                    Projects
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="social-links text-center">
                                        <a href="http://deepak646.blogspot.in/" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                        <a href="http://deepak646.blogspot.in/" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                        <a href="http://deepak646.blogspot.in/" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                                    </div>
                                </div>
                            </div> <!-- end back panel -->
                        </div> <!-- end card -->
                    </div> <!-- end card-container -->
                </div> <!-- end col sm 3 -->
                <!--         <div class="col-sm-1"></div> -->
                <div class="col-md-4 col-sm-6">
                    <div class="card-container">
                        <div class="card">
                            <div class="front">
                                <div class="cover">
                                    <img src="https://www.clipartsgram.com/image/124089475-california-beaches-tumblr-wallpaper-3.jpg" />
                                </div>
                                <div class="user">
                                    <img class="img-circle" src="../Images/Screenshot_57.png" />
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h3 class="name">Yonatan Kriener</h3>
                                        <p class="profession">Co-Founder</p>
                                        <p class="text-center">"In Love with Motorcycles"</p>
                                    </div>
                                    <div class="footer">
                                        <div class="rating">
                                            <i class="fa fa-mail-forward"></i> Auto Rotation
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end front panel -->
                            <div class="back">
                                <div class="header">
                                    <h5 class="motto">"To be or not to be!"</h5>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h4 class="text-center">Job Description</h4>
                                        <p class="text-center">Programmer...</p>
                                        <div class="stats-container">
                                            <div class="stats">
                                                <h4>500</h4>
                                                <p>
                                                    Followers
                                                </p>
                                            </div>
                                            <div class="stats">
                                                <h4>114</h4>
                                                <p>
                                                    Following
                                                </p>
                                            </div>
                                            <div class="stats">
                                                <h4>39</h4>
                                                <p>
                                                    Projects
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="social-links text-center">
                                        <a href="http://deepak646.blogspot.in/" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                        <a href="http://deepak646.blogspot.in/" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                        <a href="http://deepak646.blogspot.in/" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                                    </div>
                                </div>
                            </div> <!-- end back panel -->
                        </div> <!-- end card -->
                    </div> <!-- end card-container -->
                </div> <!-- end col-sm-3 -->
                <div class="col-md-4 col-sm-6">
            <img src="../Images/ebay7.png" />
                </div>
            </div> <!-- end col-sm-10 -->
        </div> 
    </div>
    </div>
    <br/>
    <br/>
</section>


<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>חיפוש אוטומטי</h2>
                        <hr class="style16">
                        <p>החיפוש האוטומטי הוא אלגוריתם חכם אשר סורק את המוכרים באיבי, מבצע בדיקות איזה מוצרים נמכרים באיזה תדירות מוצא 
                            באתרים הרלוונטים את הספקים שאתם צריכים
                            בקלות מאוד אתם מחברים את זה למוניטור
                        </p>
                        <ul class="list-inline item-details">
                            <li>
                                <img src="../images/scanner.png" class="img-responsive img-centered"
                                     alt="">
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
                            לסגור
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>עשייה ותוצאה</h2>
                        <hr class="style16">
                        <p>באמצעות שימוש פשוט וקליל אנחנו נגרום לכם להניב את המקסימום תוצאות שאפשר ממכירות
                            נסחוך לכם את עבודת חיפוש המוצרים! נחבר לכם את הכל בפשטות
                            מה המטרה שהתוכנה תיתן לכם 100 מוצר בקליק! משם יש חיבורים גם למוניטורים בקליק
                            פשוט תלחצו ותעלו, תהליך
                            <br/> 
                            Copy & Paste
                        </p>
                        <ul class="list-inline item-details">
                            <li>
                                <img src="../images/Money.jpg" class="img-responsive img-centered"
                                     alt="">
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
                            לסגור
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>תמיכה & עזרה</h2>
                        <hr class="style16">
                        <p>ברגע שתתחברו אלינו תיהיה לכם תמיכה של מענה מהיר עד 12 שעות
                            שכן תקבלו את כל ההדרכות על איך להרוויח באמת באיבי 
                            איך לעלות רצף של מוצרים בכמה קליקים, מה היתרונות
                            כמובן תבינו שתראו את איכות המוצרים את הערך שקיבלתם לעומת ההשקעה המיזערית
                            סופו של דבר איבי זה עסק לכל דבר ונכון לוקח כמה חודשיים עד שבונים אותו
                            אבל שהוא ניהיה יציב הכל מתחיל להיראות יותר טוב
                            אנחנו מקושרים למרבית הסוחרים הטובים בארץ, המערכת הזאת היא צורך שעלה
                            מוזמנים לפנות אלי בכל נושא בכל זמן - 
                            עידו בלייכר
                            (+972) - 527368883
                        </p>
                        <ul class="list-inline item-details">
                            <li>
                                <img src="../images/customer.png"
                                     class="img-responsive img-centered"
                                     alt="">
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
                            לסגור
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <div class="footer-below">
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 footerleft ">
        <div class="logofooter"> <img src="../images/loggg@x2.png"/></div>
        <p><i class="fa fa-map-pin"></i>rishon le zion, israel </p>
        <p><i class="fa fa-phone"></i> Phone (israel) : +972 - 527368883</p>
        <p><i class="fa fa-envelope"></i> E-mail : iuyt9003@gmail.com</p>
        
      </div>
      <div class="col-md-2 col-sm-6 paddingtop-bottom" style="text-align: right;right:9%">
        <h6 class="heading7">קישורים שימושים</h6>
        <ul class="footer-ul">
          <li><a href="#"> המדיניות שלנו</a></li>
          <li><a href="#"> תנאי שימוש</a></li>
          <li><a href="#"> חיפוש אוטומטי</a></li>
          <li><a href="#"> ביצוע ותוצאה</a></li>
          <li><a href="#"> תמיכה ועזרה</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-6 paddingtop-bottom " >
        <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
          <div class="fb-xfbml-parse-ignore">
                    <ul class="social-network social-circle">
                        <li><a href="#" class="icoRss r1" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook r1" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter r1" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle r1" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin r1" title="Linkedin"><i class="fa fa-linkedin" ></i></a></li>
                    </ul>	
          </div>
        </div>
      </div>
    </div>
  </div>
<!--footer start from here-->

<div class="copyright">
  <div class="container">
    <div class="col-md-6">
      <p>© 2017 - All Rights with FindArrow</p>
    </div>
  </div>
</div>
    </div>
</footer>