    <!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#page-top">ArrowFind</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                                <li class="page-scroll">
                    <a href="#!/monitor">Product Finder</a>
                </li>
                 <li class="page-scroll">
                    <a href="#!/deals">Deals</a>
                </li>
                <li class="page-scroll">
                    <a href="#about">Paid Days : {{PaidDays}}</a>
                </li>

                <!--<li class="page-scroll">-->
                <!--<a href="#contact">Contact</a>-->
                <!--</li>-->

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
    
    
     <div class="container">
        <div class="row">   
                    <div class="col-lg-12 text-center">
                        <br/><br/>
                <h2>Deals For Users</h2>
                <hr class="style16">
                                        <br/><br/><br/>
            </div>     
                 <div class="col-md-6 col-sm-6 text-center">
           <md-content class="md-padding" style="background-color:#0082b2">
                       <div class="panel panel-pricing" style="background-color: rgb(44, 62, 80)">
                        <div class="panel-heading">
                            <i class="fa fa-desktop" style="color:white"></i>
                            <h3 style="color:white">Premium</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p><strong>$9.90 / Month</strong></p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-check"></i>Personal Use</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Not Limit Searches</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Support 24/7</li>
                             <li class="list-group-item"><i class="fa fa-check"></i> Free 2 Weeks Bouns</li>
                             <li class="list-group-item off"><i class="fa fa-remove"></i>5$ Discount</li>
                             <li class="list-group-item off"><i class="fa fa-remove"></i> Wellcome call by me</li>
                             
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-primary" style="color:white" href="#"><i class="fa fa-check"></i>Buy Now</a>
                        </div>
                    </div>
                </md-content>
                        </div>
                                 <div class="col-md-6 col-sm-6 text-center">
           <md-content class="md-padding" style="background-color:#0082b2">
                       <div class="panel panel-pricing" style="background-color: rgb(44, 62, 80)">
                        <div class="panel-heading">
                            <i class="fa fa-desktop" style="color:white"></i>
                            <h3 style="color:white">Elite</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p><strong>$24.90 / 3 Month</strong></p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-check"></i>Personal Use</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Not Limit Searches</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Support 24/7</li>
                             <li class="list-group-item"><i class="fa fa-check"></i> Free Month Bouns</li>
                               <li class="list-group-item"><i class="fa fa-check"></i>5$ Discount</li>
                              <li class="list-group-item"><i class="fa fa-check"></i> Wellcome call by me</li>
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-primary" style="color:white" href="#"><i class="fa fa-check"></i> Buy Now</a>
                        </div>
                    </div>
                    <br/><br/>
                </md-content>
                 </div>

</div>
     </div>

  <div class="footer-below">
<footer>
  <div class="">
    <div class="row" style="margin-right: 7.62%;
    margin-left: 7.62%;
    padding-left: 15px;
    padding-right: 15px;">
      <div class="col-md-6 col-sm-6 footerleft ">
        <div class="logofooter"> <img src="../images/loggg@x2.png"/></div>
        <p><i class="fa fa-map-pin"></i>rishon le zion, israel </p>
        <p><i class="fa fa-phone"></i> Phone (israel) : +972 - 527368883</p>
        <p><i class="fa fa-envelope"></i> E-mail : iuyt9003@gmail.com</p>
        
      </div>
      <div class="col-md-2 col-sm-6 paddingtop-bottom" style="right:9%">
        <h6 class="heading7">Relevent Links</h6>
        <ul class="footer-ul">
          <li><a href="#"> Our Policy</a></li>
          <li><a href="#"> Terms Of Service</a></li>
          <li><a href="#"> AutoMatic Search</a></li>
          <li><a href="#"> Use And Results</a></li>
          <li><a href="#"> Support and Help</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-6 paddingtop-bottom " >
        <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
          <div class="fb-xfbml-parse-ignore">
                    <ul class="social-network social-circle">
                        <li><a href="#" class="icoRss r1" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook r1" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter r1" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle r1" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin r1" title="Linkedin"><i class="fa fa-linkedin" ></i></a></li>
                    </ul>	
          </div>
        </div>
      </div>
    </div>
  </div>
<!--footer start from here-->

<div class="copyright">
  <div class="container">
    <div class="col-md-6">
      <p>© 2017 - All Rights with FindArrow</p>
    </div>
  </div>
</div>

</footer>
    </div>